SourceCode/Solutions/BareBonesServiceCore/Workflows/Recurrence-ChangeOverduecasestatus-9453C134-F605-EA11-A811-000D3A530B47.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":15},"type":"Recurrence"}},"actions":{"List_overdue_cases_that_do_not_have_the_status_overdue":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"hdn_cases","$filter":"hdn_duedate lt @{utcNow()}  and statecode eq 0 and statuscode ne 752240004"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_overdue_cases_that_do_not_have_the_status_overdue')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"default.cds","table":"hdn_cases","id":"@items('Apply_to_each')?['hdn_caseid']","item/statuscode":752240004},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_overdue_cases_that_do_not_have_the_status_overdue":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}